@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto+Mono:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');
/* font-family: 'Roboto Mono', monospace; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  /* background-color: #181616; */
  background-color: #cccccc;
  font-family: 'Roboto Mono', monospace;
}

.calcBody {
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgb(69, 69, 69);
  margin: 20px;
  width: 325px;
  height: 490px;
  padding: 1px;
}

.displayer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
  flex-basis: 20%;  
}

p.calcTitle {
  padding: 0 5px;
  font-family: 'Kalam', cursive;
  flex-basis: 5%;
}

.upperDispPanel,
.lowerDispPanel {
  float: right;
  padding: 3px 8px;
}

.paragraph.lowerPanel {
  font-size: 2.5em;
  word-wrap: break-word;
  word-break: break-all;
}

p.paragraph.upperPanel {
  color:rgb(150, 150, 150)
}

.paragraph,
.key,
.operationKey,
.mButton {
  color: rgb(224, 224, 224);
}

.memoryPanel {
  display: flex;
  flex-direction: row;
  flex-basis: 7%;
  box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.2);
}
.mButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: padding-box;
  font-size: 12px;
  flex-grow: 1;
  border: 1px solid rgb(32, 32, 32);
  margin: 1px;
  justify-content: space-evenly;
}

.memoryPanel, 
.mButton,
.calcBody {
  background-color: rgb(32, 32, 32);
} 

.keyPanel {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2px;
}

.key,
.operationKey {
  border: 0px solid rgb(32, 32, 32);
  background-color: rgb(20, 20, 20);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 500;
}

.operationKey {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
}

.operationKey.bigger {
  font-size: 1.8em;
}

.operationKey:last-child {
  background-color: #491c4f;
}

.operationKey:last-child:hover {
  background-color: #762181;
}

.key {
  background-color: rgb(3, 3, 3);
}

.key:hover,
.operationKey:hover,
.mButton:hover {
  background-color: rgb(61, 61, 61);
}